<form action="/add" method="POST">
    <h3>Título: </h3>
    <input type="text" name="titulo">
    <h3>Conteúdo</h3>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>