<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Notícias</td>
			</tr>

			<tr>
				<td><%= noticia[0].idNoticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tr>
		</table>

	</body>
</html>