<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small><strong>Data de publicação: </strong>{{post.date}}</small>
        <br>
        <small><strong>Categoria: </strong>{{post.category.name}}</small>
        <hr>
        <p>{{post.content}}</p>
    </div>
</div>