<h4><strong>Login</strong></h4>
<hr>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Digite seu email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="password">Digite sua senha: </label>
                <input type="password" name="password" class="form-control" required>
            <button class="btn btn-success mt-5" type="submit">Entrar</button>
        </form>
    </div>
</div>