<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0000cc;">
  <a class="navbar-brand" href="/">Blog do Node</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorias</a>
      </li>
    </ul>
  </div>
  {{#if user}}
    <a class="nav-link" href="usuarios/logout"><button class="btn btn-success">Logout</button></a>
  {{else}}
    <a class="nav-link" href="/usuarios/login"><button class="btn btn-dark">Login</button></a>
    <a class="nav-link" href="usuarios/registro"><button class="btn btn-dark">Registro</button></a>
  {{/if}}

</nav>

<style>
    a {
        color: #428bca !important; 
        text-decoration: none !important;
    }

    .navbar a {
        color: white !important;
    }
</style>